
html *
{
	font-size: 1em !important;
	color: #000 !important;
	font-family: Arial !important;
}
/* Container elements padding */
#container {
    padding: 10px;
}

/* Styling for input fields */
#input[type=text], input[type=password] {
    width: 50%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Style for button */
#button {
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.dropbutton {
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    display: block;
}

.dropdown-content a:hover {
    background-color: yellow
}

.dropdown:hover .dropdown-content {
    display: block;
}