<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>	
		<script type="text/javascript" src="../static/js/shopping_list.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/shopping_list.css" />

		<title>Welcome to Shoppe</title>
		
	</head>
	<body>
		<div><a href="/index">Home</a> <a href="/login">Login</a></div>
		<hr>
				<h1>Shopping List App - Welcome!</h1>
						
	</body>
</html>